@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Freckle+Face&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap');


.skills-page {
    background-color: rgb(16, 15, 15);
    width: 100%;
    height: 100%;
    color: white;
    padding: 22vh;
    text-align: center;
    height: 60vh;
}

.skills-page h2 {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 5vh;
    margin-bottom: 12vh;
    color: rgb(218, 23, 111);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20%;
    max-width: 50vhx;
    margin: 0, auto;
}

.skill {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.skill label {
    flex: 1;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
}

.progress-bar {
    flex: 2;
    background-color: #444;
    border-radius: 2vh;
    overflow: hidden;
    height: 4vh;
    position: relative;
}

.progress {
    background-color: rgb(218, 23, 111);
    height: 100%;
    transition: widht 0.5s ease;
}

.perccentage {
    flex: 0.5;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 2.3vh;
}